# GLOBAL
NODE_ENV=development
LOG_LEVEL=debug

# AI AGENT
OPENAI_API_KEY=sk-placeholder
VECTOR_DB_URL=localhost:6333
VECTOR_DB_COLLECTION=semantic_memory

# BACKEND
DATABASE_URL=postgres://user:pass@localhost:5432/memo
JWT_SECRET=super-secret-key-change-me
REMINDER_QUEUE_HOST=localhost

# FRONTEND
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=ws://localhost:3000
